body {
    background-color: rgb(167, 250, 233);
    color: black;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
    font-family: Georgia, serif;
}

input[type=text], select {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #3bb1d5;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}